@page
@model BookProject.Pages.AuthorsMaster.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення автора</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authors.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors.FullNameEnglish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authors.FullNameEnglish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authors.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors.BirthPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authors.BirthPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authors.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authors.AvatarPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authors.AvatarPath)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Authors.Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-page="./Index"> <i class="fa-solid fa-arrow-left"></i> Назад</a>
    </form>
</div>
